header{ 
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: blue;

}
button{ 
    width: 20%;
    height: 5vh;
    background-color: white;
    color: black;
}