<section class="flex w-full flex-row mt-4 items-center justify-center">
   <div class="items-center flex w-[60%] bg-[#abd37368] shadow-lg rounded-lg">
    <div class="w-[50%] h-[80vh] flex items-center justify-center ">
        <img src={{pokemon.sprites.front_default}} alt="img" class="w-[50%]">
    </div>
    <div class="w-50% flex justify-center items-start flex-col gap-4">
        <h1 class="text-gray-700 font-extrabold text-[50px]"> {{pokemon.abilities[0].ability.name | titlecase}} </h1>
       <div>
         <h3 class="text-[28px] text-blue-950 font-semibold">Formas:</h3>
        <p class="text-[25px] text-gray-500">{{pokemon.forms[0].name | titlecase}}</p></div>
    </div>
   </div>
</section>